.hidden {
  display: none !important;
}

/* "No File" View */
.dragContainer {
  min-height: 10rem;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  padding: 1rem;
  outline: 2px dashed hsl(var(--off-white-100) / 50%);
  outline-offset: -0.75rem;
  border-radius: 0.5rem;
  background-color: hsl(var(--off-white-100) / 5%);
  transition: outline 200ms, outline-offset 200ms, background-color 200ms,
    transform 300ms;
}

.dragContainer.dragHover {
  outline-offset: -0.75rem;
  outline-color: hsl(var(--off-white-100));
  background-color: hsl(var(--off-white-100) / 10%);
  transform: scale(101%);
}

.downloadIcon {
  color: hsl(var(--off-white-200));
  font-size: clamp(3.5rem, 15vw, 5rem);
}

.formText {
  text-align: center;
}

.inputLabel:hover {
  cursor: pointer;
}

.inputLabel:hover > strong,
.inputLabel:focus > strong {
  color: white;
}

.condition {
  font-size: 0.8rem;
  color: hsl(var(--off-white-400));
}

.condition > strong {
  font-weight: 600;
}

/* "Selected File" View */
.selFile {
  min-width: 0;
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;

  padding: 0.75rem;
  border-radius: 0.25rem;
  box-shadow: 1px 1px 4px 2px hsl(var(--off-black-100) / 50%);
  background-color: hsl(var(--off-white-100) / 5%);
}

.selFile > p {
  font-size: 0.9rem;
}

.icon {
  flex-shrink: 0;
  font-size: 1.15rem;
  color: hsl(var(--red-200));
}

.icon:hover {
  cursor: pointer;
  color: hsl(var(--red-500));
}

@media (min-width: 568px) {
  .dragContainer {
    height: clamp(10rem, 30vw, 20rem);
  }
}
