@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --red-200: 4 94% 69%;
  --red-500: 4 83% 57%;

  --orange-400: 23 100% 75%;
  --orange-450: 23 100% 72%;
  --orange-500: 23 100% 66%;
  --orange-600: 23 100% 58%;
  --orange-700: 23 100% 50%;

  --gold-500: 49 100% 50%;
  --gold-600: 49 100% 45%;
  --gold-700: 49 100% 40%;

  --blue-100: 209 92% 86%;
  --blue-300: 209 92% 75%;
  --blue-500: 209 92% 60%;
  --blue-700: 209 92% 40%;

  --navy-500: 231 22% 19%;

  /* TEMPORARY START */
  --lilac-25: #68687a;
  --lilac-500: #545578;
  --lilac-600: #46465c;
  --lilac-700: #37374d;
  --lilac-800: #323548;
  --lilac-900: #282838;

  --navy-700: #26293b;
  --navy-800: #191b2a;
  --navy-850: #181827;
  --navy-900: #11121d;
  --navy-950: #0d0d14;
  --navy-1000: #010102;
  /* TEMPORARY END */

  --purple-100: 266 100% 90%;
  --purple-300: 266 100% 82%;
  --purple-700: 276 100% 67%;
  --purple-900: 276 58% 53%;

  --off-white-100: 0 0% 98%;
  --off-white-200: 0 0% 96%;
  --off-white-400: 0 0% 94%;
  --off-white-500: 0 0% 90%;
  --off-white-600: 0 0% 88%;

  --grey-100: 0 0% 90%;
  --grey-200: 0 0% 85%;
  --grey-300: 0 0% 80%;
  --grey-400: 0 0% 72%;
  --grey-450: 0 0% 60%;
  --grey-500: 0 0% 54%;
  --grey-550: 228 2% 45%;
  --grey-700: 228 2% 30%;

  --off-black-100: 203 8% 15%;
  --off-black-500: 203 8% 21%;

  --max-app-width: 75rem;

  --ff-title: "Righteous", cursive;
  --ff-main: "Poppins", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
#__next {
  min-height: 100vh;
  color: hsl(var(--off-white-400));
  background-color: hsl(var(--navy-500));

  font-family: var(--ff-main);
  font-weight: 300;
  letter-spacing: 0.2px;
}

#__next {
  width: 100%;
  height: 100vh;
}

a {
  color: inherit;
  text-decoration: none;
}

/* Containing Content */
.container {
  overflow-x: hidden;
  width: 100%;
  max-width: var(--max-app-width);
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  margin-inline: auto;
}

@media (min-width: 568px) {
  .container {
    padding: 1rem;
  }
}

/* Basic Custom SVG Styling */
svg {
  --svg-dark-clr: hsl(var(--grey-500));
  --svg-light-clr: hsl(var(var(--off-white-200)));
}

svg .svg_dark_clr {
  fill: var(--svg-dark-clr);
}

svg .svg_light_clr {
  fill: var(--svg-light-clr);
}

/* For "..." on long text */
.ellipse {
  max-width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.link {
  text-decoration: underline;
  color: hsl(var(--blue-500));
}

.link:hover {
  color: hsl(var(--blue-700));
}

@media (prefers-color-scheme: dark) {
}
