.wrapper {
  width: 100%;
}

.heroContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.heroText {
  max-width: 30ch;
  text-align: center;
  margin-inline: auto;
}

.animatedSVG {
  max-width: 10rem;
  margin-inline: auto;
}

@media (min-width: 568px) {
  .heroContainer {
    flex-direction: row;
    justify-content: space-evenly;
  }

  .heroText {
    font-size: clamp(1rem, 3vw, 1.35rem);
    margin-block: auto;
    margin-inline: 0;
  }

  .animatedSVG {
    width: max-content;
    margin-inline: 0;
  }
}
